/* ---------------------------------------------- *\

  Partial: typography

  I set all typographic styles here. First we list our variables such as fonts (maybe we're using some @font-face) and
  additionally and maps we might want to use. Then we specificy the typographic scales we want.

\* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6{

}

h1{

}

h2{
	
}

h3{
	
}

h4{
	
}

h5{
	
}

h6{
	
}